body {
	background: linear-gradient(-60deg, #08A890, #F53DF4, #24F5D5, #F5C30C, #A88811);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
a{
	text-decoration: none;
	color: white;
}
.app{
	margin-top: 1em;
}
.bg-transparent{
	opacity: 50%;
	background-color: transparent;
}
